[Unit]
Description=This program shows all docker-compose projects that are running on a handy overview page.

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/reception -tld localhost
Restart=on-success
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
